[user]
	name = 
	email = 
	username = 
	xxpassword = 

[alias]
pushit = push origin HEAD:refs/for/master
unadd = reset HEAD
tree = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
tree1 = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
tree2 = log --graph --full-history --all --color --pretty=format:\"%ai %aN %x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\"
tree3 = log --graph --decorate --pretty=oneline --abbrev-commit 
tree4 = log --oneline --decorate --all --graph 

[color]
	ui = auto
